/* --------------------------------Chat--------------------- */

.chat-icon {
  background-color: white;
  padding: 1rem;
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  border-radius: 50% 50% 5% 50%;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: slidein 0.5s;
  cursor: pointer;
}

@keyframes slidein {
  from {
    right: -10vw;
  }

  to {
    right: 3vw;
  }
}

.icon {
  animation: icon 1s;
}
@keyframes icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chat-icon > img {
  width: 2rem;
  height: 2rem;
}

.chatbox {
  padding: 0.5rem 1rem;
  position: fixed;
  width: 25rem;
  height: auto;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 12vh;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  animation: reveal 0.5s;
}

@keyframes reveal {
  from {
    opacity: 0;
    /* bottom: -50%; */
  }
  to {
    opacity: 1;
    /* bottom: 14%; */
  }
}

.header {
  background: #7f8ac5;
  padding: 1rem 2rem;
  margin: 0rem 0rem 1rem 0rem;
  color: white;
  border-radius: 10px;
}
.startConvo {
  padding: 0rem 2rem;
}
.convobtn {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  color: white;
  align-items: center;
  padding: 0.2rem;
  border-radius: 50px;
  margin: 1rem;
  background: #13a884;
  cursor: pointer;
}
.convobtn:hover {
  background: #13a885a9;
}
.messagebox {
  overflow-y: scroll;
  height: 16rem;
  width: 24rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.message-client {
  background-color: #4c5aa1;
  color: white;
  width: fit-content;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px 15px 0px 15px;
  animation: msganimation 1s;
}
.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #4c5aa1;
}
.message-server {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #ecf1fb;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px 15px 15px 0px;
}
.server-msg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: msganimation 1s;
}
.client-msg {
  display: flex;
  justify-content: flex-end;

  animation: msganimation 1s;
}
@keyframes msganimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ip {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ip-text {
  border: none;
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 80%;
}
.ip-text:focus {
  border: none;
  border-bottom: 2px solid #4c5aa1;
  outline: none;
}
.btn {
  font-size: 1.5rem;
  color: #4c5aa1;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.info-img {
  width: 1rem;
  padding: 0rem 0.5rem;
}
/* -------------------------------------------------------------- */

@media screen and (max-width: 450px) {
  .chat-icon {
    right: 2vw;
    bottom: 2vh;
    padding: .8rem;
    z-index: 0;
  }
  .chatbox {
    bottom: 14vh;
    right: 2vw;
    width: 80vw;
    height: min-content;
    border-radius: 10px;
    animation: reveal 0.5s;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      /* bottom: -50%; */
    }
    to {
      opacity: 1;
      /* bottom: 14%; */
    }
  }
  .messagebox {
    height: 40vh;
    width: 75vw;
  }
  .ip {
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .ip-text {
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .ip-text:focus {
    border: none;
    border-bottom: 2px solid #4c5aa1;
    outline: none;
  }
  .btn {
    font-size: 1.5rem;
    color: #4c5aa1;
  }
  .startConvo {
    padding: 0rem 1rem;
  }
  .header {
    margin: 0rem 0rem 0.5rem 0rem;
  }
}
@media screen and (max-width: 350px) {
  .chat-icon {
    right: 2vw;
    bottom: 2vh;
    padding: .8rem;
    z-index: 0;
  }
  .chatbox {
    bottom: 15vh;
    right: 2vw;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    animation: reveal 0.5s;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      /* bottom: -50%; */
    }
    to {
      opacity: 1;
      /* bottom: 14%; */
    }
  }
  .messagebox {
    height: 30vh;
    width: 75vw;
  }
  .ip {
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .ip-text {
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .ip-text:focus {
    border: none;
    border-bottom: 2px solid #4c5aa1;
    outline: none;
  }
  .btn {
    font-size: 1.5rem;
    color: #4c5aa1;
  }
  .startConvo {
    padding: 0rem 1rem;
  }
  .header {
    margin: 0rem 0rem 0.5rem 0rem;
  }
}
