/* -------------------Container--------------------------- */

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(../assets/Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 1rem;
}
@media screen and (max-width: 960px) {
  .container {
    padding: 0rem;
  }
}
/* ---------------------------------------------------- */
